{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>Postcard-Service</title>
    <link rel="icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="{% static 'Css/Create_postcard.css' %}">
    <script src="{% static 'JavaScript/Script.js' %}"></script>
</head>
<body>
    <div class="container">
        <h2>Choose your Postcard design</h2>

        <div class="postcard-cell">
            <img id="current-image" class="postcard-image" src="{% static 'images/design1.jpg' %}">
        </div>

        <div class="button-row">
            <button class="navigation-button prev-button" name="prev-button" onclick="changeImage('prev')"><</button>
            <button class="navigation-button next-button" name="next-button" onclick="changeImage('next')">></button>
        </div>
        
        <h3>Recipient Details</h3>
        <form onsubmit="return validateForm();" method="POST">
            {% csrf_token %}
            <div class="input-group">
                <div class="input-field">
                    <label for="salutation">Salutation</label>
                    <select id="salutation" name="salutation">
                        <option value="mr">Mr</option>
                        <option value="ms">Ms</option>
                        <option value="mrs">Mrs</option>
                    </select>
                </div>
            </div>
            <div class="input-group">
                <div class="input-field">
                    <label for="first-name">First Name</label>
                    <input type="text" id="first-name" name="first_name" placeholder="Enter first name">
                </div>
                <div class="input-field">
                    <label for="last-name">Last Name</label>
                    <input type="text" id="last-name" name="last_name" placeholder="Enter last name">
                </div>
            </div>
            <div class="input-group">
                <div class="input-field">
                    <label for="email">Email</label>
                    <input type="email" id="email" name="email" placeholder="Enter email">
                </div>
            </div>
            <div class="input-group">
                <div class="input-field">
                    <label for="message">Postcard message</label>
                    <textarea id="message" name="message" placeholder="Enter message"></textarea>
                </div>
            </div>
            <button type="submit">Send Postcard</button>
            <input type="hidden" id="myIndex" name="myIndex" value="0" />
        </form>
    </div>
</body>
</html>
