{% load static %}

<!DOCTYPE html>
<html>
<head>
  <title>Meine Webseite</title>
  <link rel="stylesheet" type="text/css" href="{% static 'Css/Home.css' %}">
</head>
<body>
  <main>
    <div class="container">
      <header>
        <img src="{% static 'images/paradise_image_test.jpg' %}" alt="Header-Foto">
      </header>
      <h2>Willkommen!</h2>
      <table class="content">
        <!-- Tabelleninhalt hier einfügen -->
      </table>
      <p class="project-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed convallis mauris id ligula pretium dapibus. Duis ultricies, velit ut porttitor aliquet, nisi eros pretium urna, vel dapibus ligula diam nec elit. Mauris vel ullamcorper est. Sed id eleifend turpis. Nullam pharetra viverra enim vitae varius. Sed quis lectus in nunc tincidunt lacinia vitae et nisl. Vestibulum finibus felis a metus pretium ultrices.</p>
      <div class="buttons">
        <a href="{% url 'login' %}" class="button">Login</a>
        <a href="{% url 'signup' %}" class="button">Sign up</a>
      </div>
    </div>
  </main>
</body>
</html>
