<!DOCTYPE html>
<html>
<head>
  <title>Postcard-Service</title>
  {% load static %}
  <link rel="icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon">
  <link rel="stylesheet" type="text/css" href="{% static 'Css/Login.css' %}">
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-8SW1RGVWR2"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-8SW1RGVWR2');
  </script>
</head>
<body>
  <div class="container">
    <form class="login-form" method="post">
      {% csrf_token %}
      {% load static %}
      <h2>Login</h2>
      <input type="email" id="email" placeholder="Email" required name="email">
      <input type="password" id="password" placeholder="Password" required name="password">
      <button type="submit">Login</button>
      <p class="create-account-link">Don't have an account? <a href="{% url 'signup' %}">Create new Account</a></p>

      <!-- Fehlermeldung -->
      {% if messages %}
        <ul class="messages">
          {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
          {% endfor %}
        </ul>
      {% endif %}
    </form>
  </div>
</body>
</html>
