{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=0.8">
    <title>Postcard-Service</title>
    <link rel="icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="{% static 'Css/Logout.css' %}">
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-8SW1RGVWR2"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-8SW1RGVWR2');
    </script>
</head>

<body>
    <div class="container">
        <h2>Postcard Sent</h2>
        <p>The postcard has been sent. Thank you for using the Postcard Service.</p>
        <div class="buttons">
            <a href="{% url 'createpostcard' %}" class="button">Send another Postcard</a>
            <a href="{% url 'editprofile' %}" class="button">Edit Profile</a>
            <form action="{% url 'logout' %}" method="post">
                {% csrf_token %}
                <button class="button" type="submit">Logout</button>
            </form>
        </div>
    </div>
</body>

</html>

