{% load static %}
<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=0.8">
  <title>Postcard-Service</title>
  <link rel="icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon">
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-8SW1RGVWR2"></script>
  <script src="{% static 'JavaScript/Sign_up.js' %}"></script>
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'Css/Sign_up.css' %}">
</head>
<body>
  <div class="container">
    <form class="sign-in-form" method="post" onsubmit="return validateForm(); return validateIfFilled();">
      {% csrf_token %}
      {% load static %}
      <h2>Sign Up</h2>
      <input type="text" id="firstName" placeholder="First Name" required name="first_name">
      <input type="text" id="lastName" placeholder="Last Name" required name="last_name">
      <input type="email" id="email" placeholder="Email" required name="email">
      <input type="password" id="password" placeholder="Password" required name="password">
      <input type="password" id="password_conf" placeholder="Confirm Password" required name="password_conf">
      <button type="submit">Sign Up</button>
      <p class="login-link">I already have an account. <a href="{% url 'login' %}">Log in</a></p>
    </form>
  </div>
</body>
</html>
