<!DOCTYPE html>
<html>
<head>
  <title>Sign Up</title>
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'Css/Sign_up.css' %}">
</head>
<body>
  <div class="container">
    <form class="sign-in-form" method="post">
      {% csrf_token %}
      {% load static %}
      <h2>Sign Up</h2>
      <input type="text" id="firstName" placeholder="First Name" required name="first_name">
      <input type="text" id="lastName" placeholder="Last Name" required name="last_name">
      <input type="email" id="email" placeholder="Email" required name="email">
      <input type="password" id="password" placeholder="Password" required name="password">
      <input type="password" id="password2" placeholder="Confirm Password" required name="password2">
      <button type="submit">Sign Up</button>
      <p class="login-link">I already have an account. <a href="http://localhost:8000/login/">Log in</a></p>
    </form>
  </div>
</body>
</html>
