{% load static %}
<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=0.8">
  <title>Postcard-Service</title>
  <link rel="icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon">
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-8SW1RGVWR2"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-8SW1RGVWR2');
  </script>
  <script>
    function validateForm() {
      var password = document.getElementById('password').value;
      var password_conf = document.getElementById('password_conf').value;

      if (password !== password_conf) {
        alert('Passwords do not match.');
        return false; // Verhindert das Absenden des Formulars
      }

      return true; // Erlaubt das Absenden des Formulars
    }

    function validateIfFilled() {
      var firstName = document.getElementById("firstName").value;
      var lastName = document.getElementById("lastName").value;
      var email = document.getElementById("email").value;
      var password = document.getElementById("password").value;
      var passwordConf = document.getElementById("password_conf").value;

      if (firstName === '' || lastName === '' || email === '' || password === '' || passwordConf === '') {
        alert('Please fill in all fields.');
        return false;
      }
    }
  </script>
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'Css/Sign_up.css' %}">
</head>
<body>
  <div class="container">
    <form class="sign-in-form" method="post" onsubmit="return validateForm(); return validateIfFilled();">
      {% csrf_token %}
      {% load static %}
      <h2>Sign Up</h2>
      <input type="text" id="firstName" placeholder="First Name" required name="first_name">
      <input type="text" id="lastName" placeholder="Last Name" required name="last_name">
      <input type="email" id="email" placeholder="Email" required name="email">
      <input type="password" id="password" placeholder="Password" required name="password">
      <input type="password" id="password_conf" placeholder="Confirm Password" required name="password_conf">
      <button type="submit">Sign Up</button>
      <p class="login-link">I already have an account. <a href="{% url 'login' %}">Log in</a></p>
    </form>
  </div>
</body>
</html>
